In [5]:
import numpy as np

import pandas as pd
rea = pd.read_csv("r.csv", names=range(2))
rea.head()
#touchdesigns is at a gift store
#also notice tweets come from similar locations, which is why GNIP should provide better 
#data on the nation as a whole

                                   0                           1
0  [u'TouchDesigns']point(42.1717307     -83.247066)  02/23/2017
1                    []point(34.0522       -118.243)  02/23/2017
2                 []point(33.7870777   -118.1387517)  02/23/2017
3       [u'sunset']point(33.74469266  -111.79392499)  02/23/2017
4     [u'TheLooks']point(35.18928791  -118.82692948)  02/23/2017

In [7]:
rea.shape

(2935, 2)

In [8]:
rea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935 entries, 0 to 2934
Data columns (total 2 columns):
0    2935 non-null object
1    2935 non-null object
dtypes: object(2)
memory usage: 45.9+ KB

In [11]:
rea.describe()

              0        1
count      2935     2935
unique     2123     2241
top     [u'job'   u'job'
freq        285      150

[u'hiring', u'PalmDesert', u'Banking', u'Veterans', u'Job', u'Jobs']point(33.7222445,-116.3744556)  02/23/2017

[u'job', u'Retail', u'NorthAndover', u'Hiring']point(42.6987024,-71.1350575)  02/23/2017
[]point(37.7563691,-122.43913059)  02/23/2017

[u'Pocatello', u'Education', u'Job', u'Jobs', u'Hiring']point(42.8713032,-112.4455344)  02/23/2017